{
  "env": {
    "production": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        "external-helpers"
      ]
    },
    "development": {
        "presets": [
          [
            "es2015",
            {
              "modules": false
            }
          ]
        ],
        "plugins": [
          "external-helpers"
        ]
    },
    "test": {
      "presets": ["es2015"],
      "plugins": ["add-module-exports"]
    }
  }
}